@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$color-01: #333131;
$color-02: #C37956;
$color-03: #C1503D;
$color-04: #9A989A;
$color-05: #F3F6F4;

$color-05-A30: rgba(#F3F6F4, 0.3);
$color-01-A70: rgba(#333131, 0.7s);

$white-space-01: 4rem;
$white-space-02: 2rem;

$font-size-XXL: 3.7rem;
$font-size-XL: 2rem;
$font-size-L: 1.2rem;

$border-radius-01: 10px;

$bottom-margin-S: 1rem;
$bottom-margin-XS: .5rem;

$top-margin-M: 1rem;
$top-margin-S: .5rem;
$top-margin-XS: .2rem;

$right-margin-XS: .2rem;

$tag-padding-up-down: .4rem;
$tag-padding-left-right: .9rem;

$container-padding-up-down: .4rem;
$container-padding-left-right: .9rem;

//NOTE: maybe using percentages would be better
$photos-size: 25rem;
$photos-grid-gab: 1rem;
$photos-grid-size: 81rem; //(photos-size * 3) + (photos-grid-gab * 6)

//ANIMATIONS-----------------------------------------------------
$load-animation-ms: 500ms;
$hero-deisgn-hover: 1200ms;
$animation-speed-M: 350ms;

@keyframes hero-design-load-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {  
        opacity: 1;
        transform: 0;
    }
}
@keyframes hero-design-load-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {  
        opacity: 1;
        transform: 0;
    }
}

//RESET EVERYTHING-----------------------------------------------
body {
    background-color: $color-05;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
//--------------------------------------------------------------------------------

.header {
    width: 100%;
    background-color: $color-01;

    .header__container {
        padding: $white-space-02 $white-space-01;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        color: $color-05;
        font-weight: bold;
        font-size: $font-size-L;
    }

    .header__logo--color-primary {
        color: $color-02;
    }

    .header__my-account-btn {
        color: $color-05;
        font-size: $font-size-L;
    }

    .header__my-account-btn:hover {
        color: $color-02;
    }
}


.hero {
    overflow: hidden;
    width: 100%;
    background-color: $color-05 ;

    .hero__container {
        padding: $white-space-02 $white-space-01;
        display: flex;
    }
    .hero__welcome {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;
        .hero__welcome-txt {
            color: $color-01;
            font-weight: bold;
            font-size: $font-size-XXL;
            margin-bottom: $bottom-margin-S;
        }

        .hero__to-the-gallery_btn {
            cursor: pointer;
            width: 17rem;
            border: 3px solid $color-02;
            border-radius: $border-radius-01;
            padding: 1rem;
        }

        .hero__to-the-gallery_btn:hover {
            background-color: $color-02;
        }

        .hero__to-the-gallery_btn__txt {
            text-align: center;
            font-size: $font-size-XL;
        }

    }

    .hero__design {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero__design-part {
            position: absolute;
            top: 0;
            left: 0;
        }
        transition: $hero-deisgn-hover;
    }
    .hero__design:hover {
        transform: scale(1.05);
    }
}
.hero__design-part--animation-down {
    animation: hero-design-load-down $load-animation-ms ease-out forwards;
}
.hero__design-part--animation-up {
    animation: hero-design-load-up $load-animation-ms ease-out forwards;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: $color-01;
}


//Gallery Page

.search-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   .search-bar__input {
       
        border-radius: $border-radius-01;
        width: 100%;
        border: none;
        outline: none;
        font-size: $font-size-L;
        padding: $container-padding-up-down $container-padding-left-right;
        color: $color-01;
        z-index: 99;
   }

   //NOTE: I won't use the SCSS vars for the margins and max-height in this section for now
   .search-bar__recommendations {
        position: absolute;   
        top: 1rem;
        left: 0;
        width: 100%;
        border-radius: $border-radius-01;
        background-color: $color-04;
        overflow: hidden;
        overflow-y: scroll;
        
        //NOTE to hide scroll bar
        /*
        -ms-overflow-style: none;  // IE and Edge 
        scrollbar-width: none;  // Firefox 
        */
        max-height: 15rem;
        z-index: 9;
        .search-bar__recommendations__container {
            font-size: $font-size-L;
            color: $color-01;
            margin-top: 1rem;
            .search-bar__recommendations__item {
                cursor: pointer;
                padding: $container-padding-up-down $container-padding-left-right;
            }

            
            .search-bar__recommendations__item:hover {
                background-color: #C37956;
            }
        }

        display: none;
   }
   //NOTE to hide scroll bar
   /*
   .search-bar__recommendations::-webkit-scrollbar {
    display: none;
    }
   */
   
}
.search-bar--dark {
    .search-bar__input {
        background-color: $color-04;
    }

    .search-bar__input::placeholder {
        color: $color-05;
    }
    .search-bar__recommendations {
        background-color: $color-01;
        .search-bar__recommendations__item {
            color: $color-05;
        }
    }
}


.tag {
    position: relative;
    display: inline-block;
    background-color: $color-05-A30;
    padding: $tag-padding-up-down $tag-padding-left-right;
    border-radius: $border-radius-01;

    margin-bottom: $bottom-margin-S;
    margin-right: $right-margin-XS;
    .tag__close-btn {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        background-color: $color-05-A30;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80%
    }

    .tag__txt {
        text-align: center;
        margin: auto;
        color: $color-05;
    }
}
.tag--dark {
    background-color: $color-01-A70;
    .tag__close-btn {
        background-color: $color-01-A70;
        color: $color-05;
    }
}

.photos-grid {
    background-color: transparent;
    
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width:  $photos-grid-size;
    
    .photos-grid__item {
        position: relative;
        cursor: pointer; 
        margin: $photos-grid-gab;
        width: $photos-size;
        height: $photos-size;
        border-radius: $border-radius-01;
        overflow: hidden;
        
        .photos-grid__img {
            
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            
            max-width: 150%;
            max-height: 150%;
        }
    }
    .photos-grid__item:hover {
        .photos-grid__item__details {
            opacity: 1;
        }
    }

    .photos-grid__item--empty {
        background-color: $color-04;
        display: flex;
        justify-content: center;
        align-items: center;
        .photos-grid__upload {
            font-size: $font-size-L;
            color: $color-05;
        }
    }
    .photos-grid__item--empty:hover {
        .photos-grid__upload {
            color: $color-01;
            font-weight: bold;
        }
    }

    .photos-grid__item__details {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        padding:  $container-padding-up-down $container-padding-left-right;
        background-image: linear-gradient(transparent, $color-01);
        .photos-grid__item__details-container {
            height: 100%;
            color: $color-05;
            font-weight: bold;
            font-size: $font-size-L;
            display: flex;
            align-items: flex-end;
        }

        opacity: 0;
        transition: $animation-speed-M;
    }
}

.gallery {
    width: 100vw;
    height: 100vh;
    display: flex;
    .gallery__sidebar {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-01;

        .gallery__search-container {
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $top-margin-S;
            margin-bottom: $bottom-margin-S;
        }
        
        .gallery__tag-container {
            width: 95%;
        }
    }

    .gallery__viewer {
        margin-top: $top-margin-M;
        width: 80%;
        background-color: $color-05;
        display: flex;
        justify-content: center;  
        overflow-y: scroll;
    }
}

.upload {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $color-01-A70;
    top: 0;
    left: 0;
    z-index: 999999;

    display: flex;
    justify-content: center;
    align-items: center;
    
    .upload__inputs {
        margin-bottom: $bottom-margin-S;
    }

    .upload__btn {
        cursor: pointer;
        position: relative;
        background-color: $color-04;
        color: $color-05;
        border-radius: $border-radius-01;
        padding: $container-padding-up-down $container-padding-left-right;
        overflow: hidden;
        .upload__btn__file-input {    
            cursor: pointer;
            position: absolute;
            width: 200%;
            height: 200%;
            top: -100%;
            left: -100%;
            opacity: 0;  
        }
    }
    .upload__btn--has-bottom-margin {
        margin-bottom: $bottom-margin-XS;
    }
    .upload__btn:hover {
        background-color: $color-01;
    }

    .upload__name {
        display: flex;
        background-color: $color-04;
        border-radius: $border-radius-01;
        margin-bottom: $bottom-margin-XS;

        .upload__name-input {
            background-color: $color-04;
            width: 100%;
            border: none;
            outline: none;
            border-radius: $border-radius-01;
            font-size: $font-size-L;
            padding: $container-padding-up-down $container-padding-left-right;
            color: $color-01;
            z-index: 99;
        }

        .upload__name-input::placeholder {
            color: $color-05;
        }
    }

    .upload__container {
        background-color: $color-05;
        width: 25%;
        height: 50%;
        border-radius: $border-radius-01;
        padding: $white-space-02 $white-space-02;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        
        .upload__close-btn {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
            background-color: $color-01-A70;
            color: $color-05;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem
        }
    }

}
.upload--hide {
    display: none;
}