@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@-webkit-keyframes hero-design-load-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}
@keyframes hero-design-load-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@-webkit-keyframes hero-design-load-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes hero-design-load-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: 0;
            transform: 0;
  }
}

body {
  background-color: #F3F6F4;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: #333131;
}

.header .header__container {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  color: #F3F6F4;
  font-weight: bold;
  font-size: 1.2rem;
}

.header .header__logo--color-primary {
  color: #C37956;
}

.header .header__my-account-btn {
  color: #F3F6F4;
  font-size: 1.2rem;
}

.header .header__my-account-btn:hover {
  color: #C37956;
}

.hero {
  overflow: hidden;
  width: 100%;
  background-color: #F3F6F4;
}

.hero .hero__container {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero__welcome {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.hero .hero__welcome .hero__welcome-txt {
  color: #333131;
  font-weight: bold;
  font-size: 3.7rem;
  margin-bottom: 1rem;
}

.hero .hero__welcome .hero__to-the-gallery_btn {
  cursor: pointer;
  width: 17rem;
  border: 3px solid #C37956;
  border-radius: 10px;
  padding: 1rem;
}

.hero .hero__welcome .hero__to-the-gallery_btn:hover {
  background-color: #C37956;
}

.hero .hero__welcome .hero__to-the-gallery_btn__txt {
  text-align: center;
  font-size: 2rem;
}

.hero .hero__design {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1200ms;
  transition: 1200ms;
}

.hero .hero__design .hero__design-part {
  position: absolute;
  top: 0;
  left: 0;
}

.hero .hero__design:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero__design-part--animation-down {
  -webkit-animation: hero-design-load-down 500ms ease-out forwards;
          animation: hero-design-load-down 500ms ease-out forwards;
}

.hero__design-part--animation-up {
  -webkit-animation: hero-design-load-up 500ms ease-out forwards;
          animation: hero-design-load-up 500ms ease-out forwards;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #333131;
}

.search-bar {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
   .search-bar__recommendations::-webkit-scrollbar {
    display: none;
    }
   */
}

.search-bar .search-bar__input {
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.4rem 0.9rem;
  color: #333131;
  z-index: 99;
}

.search-bar .search-bar__recommendations {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  border-radius: 10px;
  background-color: #9A989A;
  overflow: hidden;
  overflow-y: scroll;
  /*
        -ms-overflow-style: none;  // IE and Edge 
        scrollbar-width: none;  // Firefox 
        */
  max-height: 15rem;
  z-index: 9;
  display: none;
}

.search-bar .search-bar__recommendations .search-bar__recommendations__container {
  font-size: 1.2rem;
  color: #333131;
  margin-top: 1rem;
}

.search-bar .search-bar__recommendations .search-bar__recommendations__container .search-bar__recommendations__item {
  cursor: pointer;
  padding: 0.4rem 0.9rem;
}

.search-bar .search-bar__recommendations .search-bar__recommendations__container .search-bar__recommendations__item:hover {
  background-color: #C37956;
}

.search-bar--dark .search-bar__input {
  background-color: #9A989A;
}

.search-bar--dark .search-bar__input::-webkit-input-placeholder {
  color: #F3F6F4;
}

.search-bar--dark .search-bar__input:-ms-input-placeholder {
  color: #F3F6F4;
}

.search-bar--dark .search-bar__input::-ms-input-placeholder {
  color: #F3F6F4;
}

.search-bar--dark .search-bar__input::placeholder {
  color: #F3F6F4;
}

.search-bar--dark .search-bar__recommendations {
  background-color: #333131;
}

.search-bar--dark .search-bar__recommendations .search-bar__recommendations__item {
  color: #F3F6F4;
}

.tag {
  position: relative;
  display: inline-block;
  background-color: rgba(243, 246, 244, 0.3);
  padding: 0.4rem 0.9rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}

.tag .tag__close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: rgba(243, 246, 244, 0.3);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 80%;
}

.tag .tag__txt {
  text-align: center;
  margin: auto;
  color: #F3F6F4;
}

.tag--dark {
  background-color: rgba(51, 49, 49, 0.7);
}

.tag--dark .tag__close-btn {
  background-color: rgba(51, 49, 49, 0.7);
  color: #F3F6F4;
}

.photos-grid {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 81rem;
}

.photos-grid .photos-grid__item {
  position: relative;
  cursor: pointer;
  margin: 1rem;
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
  overflow: hidden;
}

.photos-grid .photos-grid__item .photos-grid__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
}

.photos-grid .photos-grid__item:hover .photos-grid__item__details {
  opacity: 1;
}

.photos-grid .photos-grid__item--empty {
  background-color: #9A989A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photos-grid .photos-grid__item--empty .photos-grid__upload {
  font-size: 1.2rem;
  color: #F3F6F4;
}

.photos-grid .photos-grid__item--empty:hover .photos-grid__upload {
  color: #333131;
  font-weight: bold;
}

.photos-grid .photos-grid__item__details {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  padding: 0.4rem 0.9rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#333131));
  background-image: linear-gradient(transparent, #333131);
  opacity: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.photos-grid .photos-grid__item__details .photos-grid__item__details-container {
  height: 100%;
  color: #F3F6F4;
  font-weight: bold;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery__sidebar {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333131;
}

.gallery .gallery__sidebar .gallery__search-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.gallery .gallery__sidebar .gallery__tag-container {
  width: 95%;
}

.gallery .gallery__viewer {
  margin-top: 1rem;
  width: 80%;
  background-color: #F3F6F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
}

.upload {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 49, 49, 0.7);
  top: 0;
  left: 0;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload .upload__inputs {
  margin-bottom: 1rem;
}

.upload .upload__btn {
  cursor: pointer;
  position: relative;
  background-color: #9A989A;
  color: #F3F6F4;
  border-radius: 10px;
  padding: 0.4rem 0.9rem;
  overflow: hidden;
}

.upload .upload__btn .upload__btn__file-input {
  cursor: pointer;
  position: absolute;
  width: 200%;
  height: 200%;
  top: -100%;
  left: -100%;
  opacity: 0;
}

.upload .upload__btn--has-bottom-margin {
  margin-bottom: 0.5rem;
}

.upload .upload__btn:hover {
  background-color: #333131;
}

.upload .upload__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9A989A;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.upload .upload__name .upload__name-input {
  background-color: #9A989A;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.4rem 0.9rem;
  color: #333131;
  z-index: 99;
}

.upload .upload__name .upload__name-input::-webkit-input-placeholder {
  color: #F3F6F4;
}

.upload .upload__name .upload__name-input:-ms-input-placeholder {
  color: #F3F6F4;
}

.upload .upload__name .upload__name-input::-ms-input-placeholder {
  color: #F3F6F4;
}

.upload .upload__name .upload__name-input::placeholder {
  color: #F3F6F4;
}

.upload .upload__container {
  background-color: #F3F6F4;
  width: 25%;
  height: 50%;
  border-radius: 10px;
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.upload .upload__container .upload__close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: rgba(51, 49, 49, 0.7);
  color: #F3F6F4;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.upload--hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */